<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Главная страница
        {% endblock %}
    </title>
</head>
<body>
    <header>
        {% block pagename %}
        <h1>Главная страница</h1>
        {% endblock %}
    </header>
    <nav>
        {% block menu %}
            <ul>
                <li><a href="/platform/">Главная</a></li>
                <li><a href="/platform/games/"><i>Магазин</i></a></li>
                <li><a href="/platform/cart/"><i>Корзина</i></a></li>
                <li><a href="/platform/news/"><i>Новости</i></a></li>
            </ul>
        {% endblock %}
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>